apiVersion: v1
kind: ServiceAccount
metadata:
  name: central-hub-sa
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: pod-manager-role
rules:
- apiGroups: [""]
  resources: ["pods"]
  verbs: ["get", "list", "watch", "create", "delete"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: central-hub-pod-manager-binding
subjects:
- kind: ServiceAccount
  name: central-hub-sa
  namespace: default
roleRef:
  kind: ClusterRole
  name: pod-manager-role
  apiGroup: rbac.authorization.k8s.io