stream_over_http_enabled: true
server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4320

ingester:
  lifecycler:
    ring:
      replication_factor: 1
  trace_idle_period: 10s
  max_block_duration: 5m

storage:
  trace:
    backend: local # 테스트 환경이므로 로컬 디스크에 저장
    local:
      path: /var/tempo/traces